.q-card {
    display: none;
    animation: fadeIn 0.5s;
}

.q-card.active-q {
    display: block;
}

.q-header {
    background: var(--sb-blue);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}

.opt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.opt-grid button {
    background: #fdfdfd;
    border: 2px solid var(--sb-yellow);
    text-align: left;
    padding: 15px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.opt-grid button:hover {
    background: var(--sb-yellow);
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
